#ab {
  font-size: 100px;
  color: aqua;
  background-color: bisque;
  border: 10px solid black;
}

.boy{
    color:green;
    background-color: cyan;
}

.girl{
    color: blue;
    background-color: black;
}
/* hh */
h3, h4, h5, h6{
    color: aliceblue;
    background-color: brown;
}

*{
    background-color: khaki;
}

div > p{
    color: coral;
    background-color: blanchedalmond;
}
#n{
    padding: 0px;
    margin: 100px 50px;
}
button:hover{
    background-color: blue;
}
button:focus{
    border: 2px solid green;
}
a:visited{
    color: purple;
}
#aa::first-line{
    color:green;
}