#flex{
    border: 1px solid black;
    width: 200px;
    height: 200px;
    background-color: aqua;
    padding: 16px;
    
}
.direction{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 50px;
    border: 1px solid black;
    height: 100vh;
}
